@font-face {
    font-family: Nevis;
    src: url(/static/fonts/nevis.ttf);
}

body{
	background-color: #f9f9f9;
	font-family: 'Lato', sans-serif;
}

img{
	max-width: 100%;
	height: 100%;
}

h1,h2,h3,h4,h5 {
	margin: 0;
}

h1{
	
}

h2{
	font-size: 28px;
}

h3{
	font-size: 24px;
}

a{
	color: inherit;
}

.row{
	margin-bottom: 0px;
}

.row .col{
	padding: 0;
}



.page_container{
	max-width: 1300px;
	position: relative;
	z-index: 1;
	width: 90%;
	margin: 10px auto 0px auto;
	box-shadow: 0 2px 5px 0 black,0 2px 10px 0 rgba(0,0,0,0.12);
}

.post{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background-color: white;
	margin: -10px -10px 30px 10px;
	
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.sidebar{
	text-shadow: 0 2px 5px rgba(0,0,0,0.16),0 2px 10px rgba(0,0,0,0.12);
	text-align: center;
	padding: 20px 10px 40px 20px !important;
}

.pagination{
	text-shadow: 0px 1px 2px black;
	margin-top: 20px;
}

.pagination_bottom_wrap{
    margin-bottom: 10px;
	padding: 0 1.75rem !important;
	margin-top: -20px;
}



@media screen and (max-width: 600px) {
    .page_container{
		width: 100%;
		margin: 0px auto 0px auto;
		box-shadow: none;
	}
	
	.post{
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		background-color: white;
		margin: 10px 0px 0px 0px;
		/* border-bottom: 1px solid #ccc; */
		padding: 10px;
		/* border-radius: 2px; */
	}
	
	.sidebar{
		padding: 20px 20px 40px 20px !important;
		margin-top: 0px !important;
	}
	
	.pagination{
		margin-top: 30px;
	}
	
	.pagination_bottom_wrap {
		padding: 0 1.75rem !important;
		margin-top: 10px;
	}
}

.header{
	padding-top: 50px;
	/*background-color: white;*/
    /*border: 1px solid #d8d8d8;*/
    border-top: none;
    height: 300px;
    color: white;
	background-position: center;
	padding: 0 1.75rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.header .title{
	margin-top: 80px;
	height: 160px;
}

.header h1{
    font-weight: bold;
	text-shadow: 2px 2px 3px black;
}
.header h2{
	text-shadow: 2px 2px 3px black;
}

.content{
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.content_column{
    
}



.sidebar_title{
    font-size: 24px;
	margin-bottom: 12px;
}

.sidebar_subtitle{
    margin-bottom: 12px;
}



.post h1{
	font-size: 28px;
	
}

.post_title{
	border-bottom: 1px solid grey;
    padding-bottom: 4px;
    margin-bottom: 20px;
	line-height: 1;
}

.post_name{
	margin-bottom: 10px;
}

.post_date{
	font-family: 'Lora';
}

.post_comments{
	margin-top: 30px;
	font-size: 22px;
	margin: 30px -10px 0px -10px;
	overflow: hidden;
}

.comments_link{
	padding: 10px;
	display: inline-block;
	line-height: 1;
}

.color{
	height: 10px;
	width: 10px;
	display: inline-block;
	border: 1px solid white;
	margin: 0px 5px;
}

.share_icons {
    float: right;
}

.share_icons i{
    padding: 10px;
}

.footer_wrap{
	max-width: 1280px;
    position: relative;
    z-index: 0;
	width: 74%;
	margin: 0 auto 40px auto;
	box-shadow: 0 2px 5px 0 black,0 2px 10px 0 rgba(0,0,0,0.12);
}

.footer{
	line-height: 1.5;
	text-align: center;
	padding: 30px 10px 20px 10px;
}

.copyright{
	text-align: center;
	padding: 10px;
}

.post_title_list {
    margin-top: 20px;
    padding: 0 1.75rem;
}

.post_date_list {
    font-size: 12px;
    font-style: italic;
}

.post_name_list {
    font-weight: bold;
}