#top .site-fontcolor, html, body, .blog-meta .post-meta-infos a, .blog-meta .post-meta-infos a span, .entry-content p a, .entry-content blockquote a, .entry-content>ul li a, .entry-content>ol li a{
color:#777777;
}

#top .meta-color, div .meta-color a, .main_menu ul li a, .blog-inner-meta, .blog-inner-meta a, #top .widget ul li a, .minitext, .form-allowed-tags, div .pagination, #comments span, .minitext, .commentmetadata a, .blog-tags, .blog-tags a, .title_container #s, .wp-caption, .first-quote:before, .first-quote:after, blockquote small, blockquote cite, .hero-text, .js_active .tab, .news-time, .contentSlideControlls a, #js_sort_items a, .text-sep, .template-search a.post-entry .news-excerpt, .borderlist>li, .post_nav, .post_nav a, .quote-content, #top .widget_nav_menu li, .tweet-time, #top .avia_parnter_empty, .avia_socialcount a span, td, #top th.nobg, caption, .page-title, #top .first-title{
color:#999999;
}

#top .heading-color, strong, #top .main-color, .main_menu a,  #top .first-quote p, #top .main_menu .menu li li a:hover, h1, h2, h3, h4, h5, h6, .js_active .tab.active_tab, .first-quote, div .callout{
color:#3C3C3C;
}

#top .search-result-counter{
color:#f8f8f8;
}

.side-container, .post_nav{
background-color:#3C3C3C;
}

#top .site-background, html, body, .comment-reply-link, .main_menu .menu ul li, .title_container #searchsubmit:hover, .isotope .entry-content, .image_overlay_effect, .tagcloud a, .news-thumb, .tweet-thumb a, fieldset, pre, .container_wrap .social_bookmarks li, #info_text_header.minimized{
background-color:#222222;
}

tr:nth-child(even) td, tr:nth-child(even) th{
background-color:#222222;
}

#top .on-primary-color, #top .on-primary-color a, .dropcap2, div .button, input[type="submit"], #submit, .info_text_header, .info_text_header a, .info_text_header a:hover, .contentSlideControlls a.activeItem, #top .related_posts .contentSlideControlls a.activeItem, .contentSlideControlls a:hover, #top .related_posts .contentSlideControlls a:hover, #top th, #top th a,  a.button:hover, .callout a, #top .big_button:hover{
color:#222222;
}

#top .aside-background, div .gravatar img, #top .main_menu .menu li ul a:hover, #top .related_posts_default_image, div .numeric_controls a, .title_container #searchsubmit, .title_container #s, .tab_content.active_tab_content, .js_active #top  .active_tab, .toggler.activeTitle, .contentSlideControlls a, #top .social_bookmarks li{
background-color:#f8f8f8;
}

tr:nth-child(odd) td, tr:nth-child(odd) th{
background-color:#f8f8f8;
}

.boxed #overflow_bg, .boxed #primary, #top #header, #top.boxed .site-background, .boxed .comment-reply-link, .boxed .main_menu .menu ul li, .boxed .title_container #searchsubmit:hover, .boxed .isotope .entry-content, .boxed .image_overlay_effect, .boxed .tagcloud a, .boxed .news-thumb, .boxed fieldset, .boxed pre, .boxed .social_bookmarks li, .boxed #info_text_header.minimized, .portfolio-sort-container, .post_nav_sep, #top.boxed .news-thumb ,#top.boxed .tweet-thumb a{
background-color:#ffffff;
}

.boxed tr:nth-child(even) td, .boxed tr:nth-child(even) th{
background-color:#ffffff;
}

#top.boxed  .on-primary-color,  #top.boxed .on-primary-color a, .boxed .dropcap2, .boxed div .button,.boxed  input[type="submit"],.boxed  #submit, .boxed .info_text_header,.boxed  .info_text_header a,.boxed  .info_text_header a:hover, .boxed .contentSlideControlls a.activeItem, #top.boxed  .related_posts .contentSlideControlls a.activeItem, .boxed .contentSlideControlls a:hover, #top.boxed  .related_posts .contentSlideControlls a:hover, .boxed th, .boxed .tweet-thumb a, #top.boxed th, #top.boxed th a, .boxed a.button:hover, .boxed .callout a, .side-container, .main_menu ul:first-child > li.current-menu-item > a, .main_menu ul:first-child > li.current_page_item > a, .main_menu a:hover, .post_nav span, .post_nav a, .post_nav a:hover, #top .entry-content p a:hover, #top .entry-content blockquote a:hover, #top .entry-content>ul li a:hover, #top .entry-content>ol li a:hover{
color:#ffffff;
}

#top .primary-background, .dropcap2, div .button, input[type="submit"], #submit, .info_text_header, #info_text_header .infotext, .numeric_controls a:hover, .numeric_controls .active_item, .contentSlideControlls a.activeItem, #top th, #top .related_posts .contentSlideControlls a.activeItem, #top .arrow_controls a, #main .content #searchsubmit:hover, .callout a, #info_text_header.minimized:hover{
background-color:#28517a;
}

#top .primary-color, a, #cancel-comment-reply-link, .blog-tags a:hover, .relThumb a:hover strong, .flex_column h1, .flex_column h2, .flex_column h3, .flex_column h4, .flex_column h5, .flex_column h6, #top #wrap_all .tweet-text a, #top #js_sort_items a.active_sort, .callout a:hover{
color:#28517a;
}

#top .primary-border, div .main_menu ul:first-child > li.current-menu-item > a, div .main_menu ul:first-child > li.current_page_item > a, div .button, input[type="submit"], #submit, #top .main_menu .menu ul, .info_text_header, .entry-content a, blockquote, blockquote blockquote blockquote{
border-color:#28517a;
}

h1, h2, h3, h4, h5, h6, .hero-text, .first-quote, legend, #top .slideshow_caption h1, .main_menu ul:first-child > li > a strong{font-family: 'Lato', 'Droid Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
body{font-family: 'Lato', 'arial', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
#top .extralight-border, div #header .container, div .pagination, #top .pagination span, div .pagination a, div .gravatar img, #top div .commentlist ul, div .children .children .says, div .commentlist>.comment, div .input-text, input[type="text"], input[type="password"], input[type="email"], textarea, select, #top .main_menu .menu li, pre, code, div .numeric_controls a, div .pullquote_boxed, div .news-thumb, div .tweet-thumb a, #top .borderlist>li, .post_nav, #top .wp-caption, .slideshow,  .widget a, .widget li, .widget span, .widget div, table, td, tr, th, #footer .container, #socket .container, #top fieldset, #top .social_bookmarks, #top .social_bookmarks li, #info_text_header, .ajax-control a, .inner_column, #top .blog-meta, .inner-entry, .inner_slide, #top .main_menu ul:first-child{
border-color:#e1e1e1;
}

#top .highlight-background, div .button:hover, input[type="submit"]:hover, #submit:hover, .contentSlideControlls a:hover, #top .related_posts .contentSlideControlls a:hover, #top .caption-slideshow-button:hover, #top .arrow_controls a:hover, #main .content #searchsubmit, #top .entry-content p a:hover, #top .entry-content blockquote a:hover, #top .entry-content>ul li a:hover, #top .entry-content>ol li a:hover{
background-color:#3381bd;
}

a:hover, #top .widget ul li a:hover, #top .widget ul li .news-link:hover strong, #top #wrap_all .tweet-text a:hover, #js_sort_items a:hover, .ajax_slide a:hover, .ajax-control a:hover, .like-count:hover a{
color:#3381bd;
}

#top .caption-slideshow-button:hover, blockquote blockquote, blockquote blockquote blockquote blockquote{
border-color:#3381bd;
}

.sidebar, #sidebar_bg, #top .sidebar .main_menu .menu li ul a, .sidebar .main_menu .menu ul, #top .sidebar th, .sort_width_container.large_element #js_sort_items{
background-color:#f8f8f8;
}

.sidebar tr:nth-child(even) td, .sidebar tr:nth-child(even) th{
background-color:#f8f8f8;
}

.sidebar .main_menu ul:first-child > li.current-menu-item > a, .sidebar .main_menu ul:first-child > li.current_page_item > a, .sidebar .main_menu li:hover > a,  .sidebar .avia_socialcount, .sidebar .avia_parnter_empty, .sidebar .tagcloud a, .sidebar .tab_content.active_tab_content, .js_active #top .sidebar .active_tab, .sidebar .toggler.activeTitle, #top .portfolio-title, .inner-entry{
background-color:#ffffff;
}

.sidebar .main_menu ul:first-child > li> a, #top .sidebar .main_menu ul:first-child > li > a strong, #top .sidebar h1, #top .sidebar h2, #top .sidebar h3, #top .sidebar h4, #top .sidebar h5, #top .sidebar h6, #top .sidebar, #top .sidebar strong, #top #secondary .sidebar .widget a:hover, #top .sidebar th, #top .sidebar .widget ul li .news-link:hover strong, #top #wrap_all .sidebar .tweet-text a:hover, #top .sidebar .main_menu .menu li ul a:hover, #top .portfolio-title, #top .portfolio-title a:hover, #top .sort_width_container.large_element #js_sort_items a.active_sort{
color:#444444;
}

.sidebar .main_menu ul:first-child > li > a span, #top .sidebar span,  #top .sidebar .tweet-time, #top #secondary .sidebar .widget a,  #top #secondary .sidebar caption, #top .sidebar td, #top .sidebar .widget ul li .news-link:hover strong, #top .sidebar .main_menu .menu li ul a, #top .sort_width_container.large_element a{
color:#9E9E9E;
}

#top .sidebar img{
border-color:#9E9E9E;
}

#top #secondary .sidebar div, #top #secondary .sidebar ul, #top #secondary  .sidebar li, #top #secondary .sidebar a, #top #secondary .sidebar span, #top .sidebar .widget .seperator, .sidebar td, .sidebar th{
border-color:#E2E2E2;
}

#top .sidebar img, .sidebar tr:nth-child(odd) td, .sidebar tr:nth-child(odd) th {
background-color:#E2E2E2;
}

#footer{
background-color:#333333;
}

#top #wrap_all #footer a, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer strong, #footer .tabcontainer span, #top #footer table, #top #footer table td, #top #footer table caption{
color:#aaaaaa;
}

#footer, #footer div, #footer p, #footer span, #top #wrap_all #footer a:hover strong{
color:#8D8D8D;
}

#footer a, #footer div, #footer span, #footer li, #footer ul{
border-color:#515151;
}

#footer table, #footer td, #footer tr, #footer th #footer img{
border-color:#8D8D8D;
}

#top #footer .tagcloud a, #footer .tab_content.active_tab_content, .js_active #top #footer .active_tab, #footer .news-thumb, #footer .tweet-thumb a{
background-color:#515151;
}

#footer tr:nth-child(odd) td, #footer tr:nth-child(odd) th{
background-color:#515151;
}

#socket, #socket a, html.html_stretched{
background-color:#1f3d63;
}

#socket, #socket a{
color:#ffffff;
}

::-moz-selection{
background-color:#28517a;
}

::-webkit-selection{
background-color:#28517a;
}

::selection{
background-color:#28517a;
}

::-moz-selection{
color:#ffffff;
}

::-webkit-selection{
color:#ffffff;
}

::selection{
color:#ffffff;
}

html.html_boxed, body{
background-image:url(/static/img/dark_dotted.png);
}


html, body{
background-position:top left;
}

html, body{
background-repeat:repeat;
}

html, body{
background-attachment:fixed;
}