				<div class="row content">
					<div class="col s12 m9 l9 content_column">
						<div class="post">		
							<div class="post_title">
								<div class="post_name"><h1>About me</h1></div>
							</div>	
							<div class="post_content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nisl sem, lacinia sed ante eget, malesuada mattis eros. Quisque nulla massa, blandit a tincidunt in, ultricies vel lectus. Pellentesque convallis elit lacus, quis placerat massa aliquam id. Curabitur ac nisi rutrum, euismod velit quis, ultrices odio. Nullam nec dignissim tortor. Sed aliquet tempor dictum. Vivamus vitae dolor neque. Vivamus sit amet massa lectus. Donec id nunc tristique, tempus felis in, posuere metus. Nulla gravida felis sed mi consectetur fringilla. Aliquam erat volutpat. Phasellus suscipit rutrum nisi, sed tempor erat semper quis. Aenean aliquam sed quam in luctus. Suspendisse accumsan non orci sit amet tincidunt. </p>Integer scelerisque quam turpis, eget auctor odio euismod sed.

								<p>Nam ex ipsum, molestie at ornare id, placerat in odio. Nam varius commodo nisi at ornare. Integer ornare quam id ipsum mattis iaculis. Cras eleifend, nisi sit amet molestie placerat, lorem dolor finibus sem, id tempus purus erat nec urna. Nunc laoreet at ex sed volutpat. Mauris in finibus ante, vulputate congue dui. Nunc eu tortor non dui mollis pellentesque quis id purus. Nullam varius neque eget orci lacinia, ac ultricies purus lacinia. Etiam commodo sodales elit.</p>

								<p>Nunc eu nunc vitae orci iaculis gravida eu sed orci. Donec accumsan dapibus aliquet. Aliquam ut consequat turpis. In et orci et tortor dapibus lacinia. Nam et fringilla neque. Aliquam erat volutpat. Proin porttitor a turpis non venenatis. Vestibulum imperdiet felis arcu, iaculis mollis orci gravida hendrerit. Donec hendrerit mauris sit amet sapien hendrerit, nec egestas leo luctus. Etiam gravida lorem vitae nunc scelerisque luctus. Proin porttitor sapien arcu, quis dictum est finibus at. Ut pulvinar leo non viverra interdum. Proin non tempus purus. Curabitur malesuada tincidunt mauris faucibus eleifend.</p>

								<p>Curabitur iaculis purus sed tristique posuere. Quisque sodales vehicula nibh vel efficitur. Donec laoreet volutpat lacus, vel accumsan lectus aliquet vitae. Morbi dui libero, ultrices vel pharetra in, sagittis id dolor. Nulla facilisi. Morbi rutrum leo eu risus suscipit tristique. Praesent eu tortor nibh. Vestibulum vulputate eget sapien a mattis. Nunc imperdiet tortor vel metus posuere finibus. Cras ac nibh id ipsum fringilla venenatis in at quam. Mauris sem sapien, ultrices et enim id, gravida vulputate eros. In placerat lobortis posuere. In aliquam urna in diam pharetra, ac fermentum dolor rhoncus. Nam mattis purus lacus, at congue lorem finibus nec. Nam vehicula, ante et accumsan posuere, metus tortor feugiat est, vel bibendum dui odio nec dui. Integer mauris justo, ultrices non ipsum hendrerit, viverra sodales felis.</p>

								<p>Cras ac neque eget nulla faucibus mattis. Phasellus semper tincidunt egestas. Cras ultrices accumsan ex in laoreet. Donec a suscipit sapien. Vivamus eget nisl bibendum, dapibus risus et, congue velit. In hac habitasse platea dictumst. Morbi sollicitudin risus elementum urna vulputate venenatis. Vestibulum accumsan orci vel est elementum, et vestibulum nulla egestas. Vivamus efficitur, justo ac hendrerit ullamcorper, mauris ipsum facilisis ante, sit amet placerat arcu ante sed dui. Fusce sit amet vestibulum felis. Donec non nulla ut urna lacinia euismod. Curabitur ipsum orci, tempus vel blandit eget, vulputate at est. Sed interdum ligula sollicitudin quam placerat scelerisque. Praesent interdum purus magna, at imperdiet lorem viverra nec.</p>
								</p>
							</div>
						</div>
					</div>
					<div class="col s12 m3 l3 sidebar">
						<div class="row">
							<div class="color color_1"></div>
							<div class="color color_2"></div>
							<div class="color color_3"></div>
							<div class="color color_4"></div>
							<div class="color color_5"></div>
						</div>
						<br />

						<a href="/about/"><div class="sidebar_title">About me</div></a>
						<a href="/contact/"><div class="sidebar_title">Contact</div></a>
						<br />


						<div class="sidebar_title">Categories</div>
						{{ for(var i = 0; i < it.categories.length; i++) { }}
							<a href="/category/{{=it.categories[i].url_title}}/"><div class="sidebar_subtitle">{{=it.categories[i].category}}</div></a>
						{{ } }}
						<br />
						
						<div class="sidebar_title">Recent Posts</div>
						{{ for(var i = 0; i < it.recent_posts.length; i++) { }}
							<a href="/post/{{=it.recent_posts[i].post_url}}/"><div class="sidebar_subtitle">{{=it.recent_posts[i].title}}</div></a>
						{{ } }}

						<br />
						<a href="/list/"><div class="sidebar_title">All Posts</div></a>
					</div>
				</div>