				</div>	
				
				<div class="copyright">
					© Copyright - <a href="/">{{=it.site_base_url}}</a> | Powered by <a href="https://awly.io">awly.io</a>
				</div>
			</div>
		</div>

		<!-- Modal Structure -->
		  <div id="send_email_thank_you_modal" class="modal">
		    <div class="modal-content">
		      <h4>Sending your message</h4>
		      <p>Thank you for your message! I will try to get back to you as soon as I can.</p>
		    </div>
		  </div>

		  <div id="captcha_error_modal" class="modal">
		    <div class="modal-content">
		      <h4>Please fill out the captcha</h4>
		    </div>
		     <div class="modal-footer">
		      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		    </div>
		  </div>
	</body>
</html>