<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
 <atom:link href="https://www.s-media.si/rss" rel="self" type="application/rss+xml" />
 <title>{{=it.website_title}}</title>
 <description>{{=it.website_title}} RSS feed</description>
 <link>{{=it.site_base_url}}/rss</link>
 <ttl>1800</ttl>

	{{ for(var i = 0; i < it.posts.length; i++) { }}
		<item>
			<title>{{=it.escape(it.posts[i].title)}}</title>

			<link>{{=it.site_base_url}}/post/{{=it.posts[i].post_url}}</link>
			<guid isPermaLink="true">{{=it.site_base_url}}/post/{{=it.posts[i].post_url}}</guid>
			<pubDate>{{=it.moment(it.posts[i].date).add(1, 'minute').format('ddd, DD MMM YYYY HH:mm:ss ZZ')}}</pubDate>
		</item>
	{{ } }}

</channel>
</rss>